doctype html
html(lang='en')
    include _partial/head.pug

    body: #container.box
        .h-wrapper
            include _partial/nav-menu.pug
        block content

        include _partial/footer.pug
        
