doctype html
html(lang='en')
    include _partial/head.pug
    block more
        if theme.customize_css
            link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/customize.css')
        link(rel='stylesheet', type='text/css', href=url_for(theme.plugins) + '/prettify/doxy.css')
        script(type='text/javascript', src=url_for(theme.js) + '/ready.js', async)

    body
        #mobile-head.mobile-head
            include _partial/mobile-head-nav.pug
        #menu.h-wrapper
            include _partial/nav-menu.pug
        #back2Top
            a(class='fa fa-arrow-up' title='Back to top' href='#')
        #container.box
            .l-wrapper: .l-content.box
                block content
                include _partial/footer.pug
        include _partial/after-footer.pug
