doctype html
html(lang='en')
    include _partial/head.pug
    block more
        link(rel='stylesheet', type='text/css', href=url_for(theme.plugins) + '/prettify/doxy.css')
        script(type='text/javascript', src=url_for(theme.js) + '/ready.js' + '?v=' + theme.version, async)

    body: #container.box
        .h-wrapper
            include _partial/nav-menu.pug
        .l-wrapper
            .l-content.box
                block content

                include _partial/footer.pug
