extends base

block title
    title= page.title + ' | ' + config.title

block content
    article.l-post
        .p-art
            h1.p-title= page.title
            .p-content
                != page.content
