extends base

block title
    title= page.title + ' | ' + config.title

block content
    .l-post.l-post-art
        article.p-art
            h1.p-title= page.title
            .p-content
                != page.content
    section.p-ext
        include _partial/post-jump.pug

        if page.comments
          include _partial/comments.pug
