extends base

block title
    title= page.title + ' | ' + config.title

block content
    .l-post
        article.p-art
            h1.p-title= page.title
            .p-content
                != page.content
    include _partial/post-jump.pug
