html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,article {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both
}

body {
    word-wrap: break-word;
    font: 12px/200% "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    background: url(/img/backgroud.png) repeat-y
}

body, .l-content, blockquote {
    background-color: #2d4356;
}


body,textarea,input,select,.m-hdimg .ttl a,.m-nav a,.l-pager a,.p-content,.l-post .p-desc a {
    color: #cecece;
}

textarea,input,select {
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    font-size: 12px;
    outline: 0;
}


.box {
    zoom: 1;
}

.box:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: '.';
}

a,button {
    cursor: pointer
}

a {
    outline: 0;
}

a,a:hover {
        text-decoration: none;
}

a,img,h1,.hdimg img,.l-post .p-desc,.m-nav .dot {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*---------image--------*/
.p-content img {
    max-width: 100%;
}

/*----------------------*/
/*head info of home page*/
/*----------------------*/
.h-wrapper{
    position: relative;
    float: left;
    width: 400px
}

.h-head {
    padding: 45px 0;
}

.ttl a {
    font-weight: normal;
}

a,.m-nav a:hover,.l-post .p-desc a:hover,.ttl a:hover,.m-nav .dot,.l-pager a:hover,.l-pager .current,footer a:hover,.p-info a:hover {
    color:#0F9FB4;
}

.m-hdimg img,.m-about,.l-pager a:hover,.l-pager .current,.m-pager-dtl a,.m-sch .txt {
    border-color:#0F9FB4;
}

.m-hdimg .ttl {
    font-size:16px;
    letter-spacing:1px;
}

.m-hdimg,.m-about,.m-nav ul {
    padding: 0 65px 0 45px

}

.m-hdimg img {
    border: 2px solid #0f9fb4;
    padding: 5px;
    width: 128px;
    height: 128px;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.m-hdimg img,.m-hdimg .ttl,.m-about {
    margin-bottom: 20px;
}


.m-about {
    background: #1f3140;
    background: rgba(0,0,0,0.15);
    border-left: 2px solid #0f9fb4;
    padding: 20px 65px 20px 43px;
}


li {
    list-style:none;
}

.m-nav ul {
        padding-left: 20px

}

.m-nav li {
    margin: 4px 0;
}

.m-nav .dot {
    display: inline-block;
    width: 25px;
    opacity: 0;
    visibility: hidden;
}

.m-nav .dot-hover {
    opacity: 1;
    visibility: visible
}

/* search edittext */
.m-sch {
    padding: 0 0 0 25px;
}

.m-sch .txt {
    width: 140px;
    height: 20px;
    line-height: 20px;
    padding: 0 0 4px;
    border: 1px solid #0f9fb4;
    border-width: 0 0 1px;
    background: 0;
}


/*----------------------*/
/*blog list of home page*/
/*----------------------*/
.l-wrapper {
    float: right;
    width: 100%;
    margin-left: -400px
}

.l-content {
    padding: 45px 0 0 400px;
    background-clip: content-box;
}

.l-post {
    padding: 0 45px 60px;
    width: 500px;
}

.l-post .p-desc, article.p-art {
    position: relative;
    left: -90px;
    top: 0;
    width: 800px;
    text-align: left;
    padding: 32px;
    margin-bottom: 20px;
    // backgroud options: #152029 #2d4356 
    background: #152029;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

.l-post .p-desc:hover {
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

.p-desc .p-title {
    //padding: 0.32em 0 0.24em 0.6em;
    padding: 0.32em 0 0.24em;
    //border-left: 4px solid;
}

.p-content {
    font-size: 15px;
    margin: 1em 0;
}

.p-readmore{
    text-align: right;
}

/*----------------------*/
/*page list of home page*/
/*----------------------*/
.l-pager {
    padding: 20px 45px;
    margin-bottom: 40px;
    background: #0d171f;
    background: rgba(0,0,0,0.5);
}

.l-pager a, .l-pager span {
    float: left;
    margin-right: 15px;
    padding: 2px;
    border-bottom: 2px solid #0d171f;
    border-color: rgba(0,0,0,0);
    font-size: 14px
}


/*----------------------*/
/*style of post content */
/*----------------------*/


.p-art h1 {
    margin: 0.6em 0 1em;
}

.p-content {
    h1,h2,h3,h4 {
        margin: 1.6em 0 0.6em;
    }

    p {
        margin: 0 0 1em;
    }

    img {
        margin: 1em 0;
    }

    code {
    padding: 0 0.4em;
    margin: 0 0.2em;
    border-radius: 0.3em !important;
    }

    pre {
        margin-top: 18px !important;
        margin-bottom: 18px !important;
    }

    pre code {
        padding: 0;
        margin: 0 0.01em;
        border-radius: 0 !important;
    }
}

blockquote {
    margin: 24px -24px;
    padding: 6px 16px;
    border-left: 8px solid #7166f7;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.2em;
}

h4{
    font-size: 1.12em;
}
/*----------------------*/
/*style of ext info     */
/*----------------------*/
footer{
    padding: 20px 45px;
}

.p-info span,.p-info a, footer p, footer a{
    color: #999
}
