/* parameters definition */
// font
$font-base : 15px;
$font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";

// color
$purple: #2d4356;
$dark-purple: #152029;
$light: #cecece;
$blue: #0F9FB4;
$dark-blue: #7166f7;

// width
$head-width: 400px;
$art-width: 800px;
$art-padding: 45px;
$art-left-offset: -($art-padding * 2);
$info-width: $art-width - $art-padding;


html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,article {
    margin: 0;
    padding: 0;
}

body {
    word-wrap: break-word;
    font: 12px/200% $font-family;
    background: url(/img/backgroud.png) repeat-y
}

body, .l-content, blockquote {
    background-color: $purple;
}


body,textarea,input,select,.m-hdimg .ttl a,.m-nav a,.l-pager a,.p-content,.l-post .p-desc a {
    color: $light;
}

textarea,input,select {
    font-family: $font-family;
    font-size: 12px;
    outline: 0;
}


.box {
    zoom: 1;
}

.box:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: '.';
}

a,button {
    cursor: pointer
}

a {
    outline: 0;
}

a,a:hover {
        text-decoration: none;
}

a,img,h1,.hdimg img,.l-post .p-desc,.m-nav .dot {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*----------------------*/
/*head info of home page*/
/*----------------------*/
.h-wrapper{
    position: relative;
    float: left;
    width: $head-width;
}

.h-head {
    padding: 45px 0;
}

.ttl a {
    font-weight: normal;
}

a,.m-nav a:hover,.l-post .p-desc a:hover,.ttl a:hover,.m-nav .dot,.l-pager a:hover,.l-pager .current,footer a:hover,.p-info a:hover {
    color:$blue;
}

.m-hdimg img,.m-about,.l-pager a:hover,.l-pager .current,.l-pager-dtl a,.m-sch .txt {
    border-color:$blue;
}

.m-hdimg .ttl {
    font-size:16px;
    letter-spacing:1px;
}

.m-hdimg,.m-about,.m-nav ul {
    padding: 0 65px 0 45px

}

.m-hdimg img {
    border: 2px solid $blue;
    padding: 5px;
    width: 128px;
    height: 128px;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.m-hdimg img,.m-hdimg .ttl,.m-about {
    margin-bottom: 20px;
}


.m-about {
    background: #1f3140;
    background: rgba(0,0,0,0.15);
    border-left: 2px solid $blue;
    padding: 20px 65px 20px 43px;
}


li {
    list-style:none;
}

.m-nav ul {
        padding-left: 20px

}

.m-nav li {
    margin: 4px 0;
}

.m-nav .dot {
    display: inline-block;
    width: 25px;
    opacity: 0;
    visibility: hidden;
}

.m-nav .dot-hover {
    opacity: 1;
    visibility: visible
}

/* search edittext */
.m-sch {
    padding: 0 0 0 25px;
}

.m-sch .txt {
    width: 140px;
    height: 20px;
    line-height: 20px;
    padding: 0 0 4px;
    border: 1px solid $blue;
    border-width: 0 0 1px;
    background: 0;
}


/*----------------------*/
/*blog list of home page*/
/*----------------------*/
.l-wrapper {
    float: right;
    width: 100%;
    margin-left: -#{$head-width};
}

.l-content {
    padding: $art-padding 0 0 $head-width;
    background-clip: content-box;
}

.l-post {
    padding: 0 $art-padding 60px;
    width: $info-width;
}

.l-post-art {
    padding-bottom: 0;
}

.l-post .p-desc, article.p-art {
    position: relative;
    left: $art-left-offset;
    top: 0;
    width: $art-width;
    text-align: left;
    padding: $art-padding;
    margin-bottom: 20px;
    background: $dark-purple;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

.l-post .p-desc:hover {
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

.p-content {
    font-size: $font-base;
    margin: 1em 0;
}

.p-readmore{
    text-align: right;
}

/*----------------------*/
/*page list of home page*/
/*----------------------*/
.l-pager {
    padding: 20px $art-padding;
}

.l-pager-id {
    margin-bottom: 40px;
    background: #0d171f;
    background: rgba(0,0,0,0.5);

    a, span {
        float: left;
        margin-right: 15px;
        padding: 2px;
        border-bottom: 2px solid #0d171f;
        border-color: rgba(0,0,0,0);
        font-size: 14px
    }
}

.l-pager-dtl {
    padding-top: 0;
    max-width: $info-width;

    a {
        float: left;
        padding: 2px;
        margin-bottom: 16px;
        border-bottom: 2px solid $blue;
        font-size: 16px
    }

    .next {
        float: right;
    }
}

/*----------------------*/
/*style of post content */
/*----------------------*/
.p-content {
    h2,h3,h4 {
        margin: 1.6em 0 0.6em;
    }

    p {
        margin: 1em 0;
    }
    
    a:hover {
        opacity: 0.6;
    }

    img {
        max-width: 100%;
        margin: 15px 0;
    }

    code {
        padding: 0 0.4em;
        margin: 0 0.2em;
        border-radius: 0.3em !important;
    }

    pre {
        margin-top: 18px !important;
        margin-bottom: 18px !important;
        ol li {
            margin-left: 36px;
        }
    }

    pre code {
        padding: 0;
        margin: 0 0.01em;
        border-radius: 0 !important;
    }

    ul>li, ol>li {
        list-style: inherit;
        margin-left: 36px;
    }
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 24px -#{$art-padding};
    padding: 0.5em $art-padding 0.5em ($art-padding - 8px);
    border-left: 8px solid $dark-blue;
    ol, ul{
        padding-bottom: 1em;
    }
}

h1{
    font-size: 25px;
    line-height: 1.2;
    margin: 0 0 1em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.2em;
}

h4{
    font-size: 1.12em;
}
/*----------------------*/
/*style of ext info     */
/*----------------------*/
footer{
    padding: 20px $art-padding;
}

.p-info span,.p-info a, footer p, footer a{
    color: #999
}
