mixin menu-item(href, name)
    - var url=url_for(href)
    li
        span.dot â—
        a(href=url, class!=attributes.class)= name

mixin title(page)
    if page
        if page.title
            = page.title
        else
            = _p('no title')
