footer: p= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' | '
  | Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  | Theme with
  a(rel='nofollow', target='_blank', href='https://github.com/litreily/snark-hexo')  snark.

script(type='text/javascript', src=url_for(theme.plugins) + '/prettify/prettify.js')
