nav.h-head.box
    .m-hdimg
        a(class="hdimg img" href="/")
            img(src="/img/profile.jpg" class="nofancybox" width="128" height="128")
        h1.ttl
            a(href="/")= config.title

    if theme.description
        p.m-desc!= theme.description

    .m-nav
        ul
            include common.pug
            - for (var i in theme.menu)
              +menu-item(theme.menu[i].directory, __(theme.menu[i].page))

            li.m-sch
                include search.pug
        div#local-search-result
