if page.next || page.prev
    .l-pager.l-pager-dtl.box
        if page.prev
            a.prev(href=url_for(page.prev_link ? page.prev_link : page.prev.path))= '< ' + page.prev.title
        if page.next
            a.next(href=url_for(page.next_link ? page.next_link : page.next.path))= page.next.title + ' >'
