form(id="j-formsch" class="form" method="get")
    input(type="text" id="local-search-input" name="q" class="txt" value="搜索" onfocus="if(this.value=='搜索'){this.value='';}" onblur="if(this.value==''){this.value='搜索';}")
    input(type="text" style="display:none;")
